header {
    height: 100px;
    background-color: darkorange;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
}

footer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    background-color: darkorange;
    margin-top: 30px;
    padding: 30px;
}

.receita {
    width: 70%;
}

.footer-content {
    width: 300px;
    gap: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titulo {
    width: 200px;
    font-size: x-large;
    text-align: center;
    padding: 5px;
}

.titulo-receita {
    padding: 10px;
    font-size: xx-large;
}

.card {
    background-color: darkgrey;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cortada {
    width: 300px;
    height: 200px;
    object-fit: cover;
}